Flask==2.0.3
Jinja2==3.0.3
MarkupSafe==2.0.1
Werkzeug==2.0.3
appdirs==1.4.4
astroid==2.11.3
certifi==2021.10.8
chardet==4.0.0
click==8.0.4
colorama==0.4.4
cssselect==1.1.0
distlib==0.3.4
filelock==3.4.1
gunicorn==20.1.0
heroku==0.1.4
idna==3.3
isort==5.10.1
itsdangerous==2.1.2
lxml==4.8.0
mccabe==0.7.0
numpy==1.19.5
pip==22.0.4
pylint==2.13.7
python-dateutil==2.8.2
requests==2.27.1
setuptools==62.1.0
six==1.16.0
soupsieve==2.3.2.post1
toml==0.10.2
urllib3==1.26.9
virtualenv==20.14.1
wrapt==1.14.0